<div class="container">
    <div class="row">
        <div class="col-md-3">
           <div class="box">
                <a href="#">Application Form</a><br /> 
           </div>
            <div class="box">
                <a href="#">Edit Application Form</a><br /> 
            </div>
            <div class="box">
                <a href="#">Application Form PDF</a><br /> 
            </div>
            <div class="box">
                <a href="#">Track my Application</a><br /> 
            </div>
            <div class="box">
                <a href="#">How to Apply</a><br /> 
            </div>
        </div>
        <div class="col-md-9">
            <h3>Welcome <span style="color:  #fc1919;"> Namrata Patil</span></h3>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 
  
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link active"  routerLink="home"><span><i class="fa fa-home"></i></span>
                          Home 
                        </a>
                    </li> 
                    <li class="nav-item"> 
                        <a class="nav-link active" href="#"> <span><i class="fa fa-question-circle"></i></span>
                          Help and Support 
                        </a> 
                    </li> 
                    <li class="nav-item"> 
                        <a class="nav-link active" href="#"> <span><i class="fa fa-comment"></i></span>
                          Feedback 
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link active" href="#"> <span><i class="fa fa-phone"></i></span>
                          Contact Us 
                        </a> 
                    </li> 
                    <li class="nav-item"> 
                        <a class="nav-link active" href="#"> <span><i class="fa fa-sign-out"></i></span>
                          Logout
                        </a> 
                    </li> 
                </ul> 
            </nav> 
            <app-home></app-home>
        </div>
    </div>
</div>